html {
  font-family: "Calibri", sans-serif;
}

body {
  background-color: #DFDFDF;
}

h1, h2, h3 {
  margin: 0; padding: 0; border: 0;

}

h1 {
  margin-bottom: 10px;
}
h2 {
  margin-bottom: 10px;
}
h3 {
  margin-bottom: 8px;
}

li {
  margin-bottom: 6px;
}

p {
  margin: 0; padding: 0; border: 0;
  font-size: 11pt;
}

.section {
    width: 500px;
    margin-bottom: 20px;
}

.subsection {
  margin-left: 2em;
}
